.thumbnail {
    position: relative;
    z-index: 0;
}

.thumbnail:hover {
    background-color: transparent;
    z-index: 50;
}

.thumbnail span {
    /*CSS for enlarged image*/
    position: absolute;
    background-color: lightyellow;
    padding: 5px;
    left: -1000px;
    border: 1px dashed gray;
    visibility: hidden;
    color: black;
    text-decoration: none;
}

.thumbnail span img {
    /*CSS for enlarged image*/
    border-width: 0;
    padding: 2px;
}

.thumbnail:hover span {
    /*CSS for enlarged image on hover*/
    visibility: visible;
    top: 0;
    left: 60px;
    /*position where enlarged image should offset horizontally */
}

.card .card-content {
    padding: 10px;
    border-radius: 0 0 2px 2px;
}

.card .card-title {
    font-size: 16px;
    font-weight: 500;
}

.card .card-content .card-title {
    display: block;
    line-height: 22px;
    margin-bottom: 2px;
}

p {
    display: block;
    font-size: 14px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

section {
    font-family: montserrat;
    background: #F4F4F4;
}

section .container {
    position: relative;
    width: 100%;
    max-width: 1600px;
    margin: auto;
    background: #fff;
    padding: 0 10px;
    box-sizing: border-box;
    overflow: hidden;
}

section .container h1 {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin: 0;
    padding: 0.4em 0;
    font-weight: 700;
    font-size: 2.4em;
    line-height: 0.8em;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    color: #777;
    white-space: nowrap;
}

section .container .bg-text {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    display: inline-block;
    margin: 0;
    font-size: 7.9em;
    line-height: 0.7em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.1em;
    color: #F4F4F4;
    white-space: nowrap;
}

* {
    box-sizing: border-box;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    -ms-transform: scale(1.15);
    /* IE 9 */
    -webkit-transform: scale(1.15);
    /* Safari 3-8 */
    transform: scale(1.15);
}

form {
    padding: 0;
    margin: 0;
}

/* Expandable search box */

/* Note: don't change 0.8s in transition. */

/* --------------------- */

input.search-text {
    color: #222;
    position: relative;
    z-index: 5;
    transition: z-index 0.8s, width 0.5s, background 0.3s ease, border 0.3s;
    height: 45px;
    width: 0;
    margin: 0;
    padding: 5px 0 5px 40px;
    box-sizing: border-box;
    font-size: 16px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid transparent;
    /*background: url(search.png) no-repeat left 9px center transparent;*/
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUxMiA1MTIiIGhlaWdodD0iNTEycHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB3aWR0aD0iNTEycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik01MDMuODY2LDQ3Ny45NzRMMzYwLjk1OCwzMzUuMDUyYzI4LjcyNS0zNC41NDQsNDYuMDE3LTc4LjkxMiw0Ni4wMTctMTI3LjMzNiAgYzAtMTEwLjA4NC04OS4yMjctMTk5LjMxMi0xOTkuMzEyLTE5OS4zMTJDOTcuNTk5LDguNDAzLDguMzUxLDk3LjYzMSw4LjM1MSwyMDcuNzE1YzAsMTEwLjA2NCw4OS4yNDgsMTk5LjMxMiwxOTkuMzEyLDE5OS4zMTIgIGM0OC40MzUsMCw5Mi43OTItMTcuMjkyLDEyNy4zMzYtNDYuMDE3bDE0Mi45MDgsMTQyLjkyMkw1MDMuODY2LDQ3Ny45NzR6IE0yOS4zMzEsMjA3LjcxNWMwLTk4LjMzNCw3OS45ODctMTc4LjMzMiwxNzguMzMyLTE3OC4zMzIgIGM5OC4zMjUsMCwxNzguMzMyLDc5Ljk5OCwxNzguMzMyLDE3OC4zMzJzLTgwLjAwNywxNzguMzMyLTE3OC4zMzIsMTc4LjMzMkMxMDkuMzE4LDM4Ni4wNDcsMjkuMzMxLDMwNi4wNSwyOS4zMzEsMjA3LjcxNXoiIGZpbGw9IiMzNzQwNEQiLz48L3N2Zz4=) no-repeat left 9px center transparent;
    background-size: 24px;
}

input.search-text {
    z-index: 3;
    width: 220px;
    border: 1px solid #666;
    background-color: white;
    outline: none;
    cursor: auto;
    padding-right: 10px;
}

input.search-text::-webkit-search-cancel-button {
    cursor: pointer;
}

td {
    cursor: pointer;
}

tr:hover {
    background-color: #2196f3;
    transform: scale(1.03);
    -ms-transform: scale(1.03);
    /* IE 9 */
    -moz-transform: scale(1.03);
    /* Firefox */
    -webkit-transform: scale(1.03);
    /* Safari and Chrome */
    -o-transform: scale(1.03);
    ;
    transition: all 300ms
}

.searchclass {
    position: relative;
    z-index: 2;
    margin-top: 2%
}

@media only screen and (min-width: 1800px) {
    .searchclass {
        position: relative;
        z-index: 2;
        margin-top: 1%;
    }
    th {
        font-size: 20px;
    }
    td {
        font-size: 18px;
    }
}