.containerbg {
    width: 100vw;
    min-height: 100vh;
    background-image: url('../../assets/background2.jpg');
    background-size: cover;
}

nav ul a {
    transition: background-color .3s;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    text-shadow: .5px .5px rgba(0, 0, 0, 0.5);
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

nav i.material-icons {
    color: #000000;
    display: block;
    font-size: 24px;
    height: 56px;
    line-height: 56px;
}

.shadowfilter {
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
}

.hello {
    /* background-color: rgba(255, 255, 255, 0.5); */
    background-color: rgba(0, 0, 0, 0.5);
}

.side-nav {
    color: #000000;
    background: #000000;
}

#logo {
    margin: 0 35% 0 35%;
    width: 30%;
    height: auto;
}

/* #logo2 img {
	width:100%;
	height:auto;
}

.shadowfilter {
    -webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
    filter:drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
	
}.shadowfilter {
    -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8));
    filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8));
} */